<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <style>
        body,p,h1,h2,h3,h4,h5,h6,ul,li,ol{margin:0px;padding:0px}
        a{text-decoration:none;color:black}
        ul,ol{list-style:none}
        .box{
            width: 50px;
            height: 60px;
            background: url("../img/下.png") no-repeat center;
            position: absolute;
            top: 0;
            left: 0;
            bottom: 0;
            right: 0;
            margin: auto;
        }
    </style>
</head>
<body>
    <div class="box"></div>
    <script>
        var boxEl = document.querySelector(".box")
        var x = y = 0
        document.documentElement.onkeydown = function(event){
            switch (event.keyCode) {
                case 37: // 左
                    x -= 5
                    boxEl.style.backgroundImage = "url(../img/左.png)"
                    break;
                case 38: // 上
                    y -= 5
                    boxEl.style.backgroundImage = "url(../img/上.png)"
                    break;
                case 39: // 右
                    x += 5
                    boxEl.style.backgroundImage = "url(../img/右.png)"
                    break;
                case 40: // 下
                    y += 5
                    boxEl.style.backgroundImage = "url(../img/下.png)"
                    break;
            }
            boxEl.style.transform = `translate(${x}px,${y}px)`
        }
    </script>
</body>
</html>